# Node modules & Dependencies
server-side/node_modules/
server-side/package-lock.json

# Config files
server-side/config/

# Dev Temp Files
server-side/src/views/

server-side/.env

server-side/dist/


